# Ignore everything
*

# But keep directories (so git can find .c files inside)
!*/

# Keep all C source files, header files and Makefiles
!*.c
!*.h
!Makefile
!btvt_test.bmp

# Allow the main README
!README.md

# Allow this gitignore itself
!.gitignore